<div {{ attributes.addClass(utility_classes) }}>
    <ul>
        <li>
        {% if display == 'full' %}
            <button type="button" class="{{ button_classes|join(' ')}}" disabled>View all on one page</a>
        {% else %}
            <a role="button" class="{{ button_classes|join(' ')}}" href="?full" title="Disable pagination">View all on one page</a>
        {% endif %}
        </li>
        <li>
        {% if display == 'paged' %}
            <button type="button" class="{{ button_classes|join(' ')}}" disabled>Show content paged</a>
        {% else %}
            <a role="button" class="{{ button_classes|join(' ')}}" href="?paged">Show content paged</a>
        {% endif %}
        </li>
        <li>
            <button type="button" class="{{ ['long-form-actions__print']|merge(button_classes)|join(' ')}}">Print this publication</button>
        </li>
    </ul>
</div>