.long-form__toc li {
    width: 100%;
}

.long-form__toc ol {
    display: none;
}

.long-form__toc a {
    display: block;
}

.long-form__toc a.active {
    font-weight: var(--long-form-toc-active-weight, 600);
}

.long-form__toc ol:has(.active) {
    display: block;
}

.long-form__toc a:is(.active) + ol {
    display: block;
}

@media print {
    .long-form__section {
        page-break-before: always;
        break-before: page;
    }
}