.long-form__pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.long-form__pager-btn {
    display: var(--long-form-pager-btn-display, flex);
    font-weight: var(--long-form-pager-btn-weight, 600);
    gap: .5em;
    align-items: center;
    cursor: pointer;
}

.long-form__pager-btn::before,
.long-form__pager-btn::after {
    background-size: contain;
    width: 1.5em;
    height: 2em;
    display: block;
}

.long-form__pager-btn[data-direction="previous"]::before {
    content: "";
    background: url("/core/misc/icons/000000/chevron-left.svg") center no-repeat;
}

.long-form__pager-btn[data-direction="next"]::after {
    content: "";
    background: url("/core/misc/icons/000000/chevron-right.svg") center no-repeat;
}

@media screen {
  [aria-hidden="true"] {
    display: none;
  }
}

@media print {
    .long-form__pager {
        display: none;
    }
}