<nav role="navigation">
  <ul {{ attributes.setAttribute('aria-label', 'Pagination').addClass(utility_classes)}} >
    <li class="pagination__previous">
        <button type="button" class="long-form__pager-btn" data-direction="previous" id="multipage-previous">Previous</button>
    </li>
    <li class="pagination__next">
        <button type="button" class="long-form__pager-btn" data-direction="next" id="multipage-next">Next</button>
    </li>
  </ul>
</nav>